*{
    margin: 0px;
}

body{
    background-color: #c0bebd;
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 40px;
}

.hero{
    background-color: #211f50;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.contenedor{
    border: 2px solid rgb(124, 0, 128);
    width: 100%;
    height: 65vh;
    padding: 40px;
}
.contenedorfotos{
    border: 2px solid rgb(124, 0, 128);
    width: 50%;
    height: 65vh;
    padding: 40px 0px;
}

.presentacion{
    border: 2px solid yellow;
}

.titulo{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: left;
}

.contacto{
    border: 2px solid lightcoral;
    margin-top: 150px;
}

.frase{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border:1px solid green;
    margin-bottom: 10px;
}
.buttonlinkedin{
    background-color: #211f50;
    border-radius: 15px;
    border: 1.5px solid white;
    width: 90px;
    height: 35px;
    margin-top: 8px;
}

.buttontelegram{
    background-color: #211f50;
    border-radius: 15px;
    border: 1.5px solid white;
    width: 90px;
    height: 35px;
    margin-top: 8px;
}

.buttongithub{
    background-color: #211f50;
    border-radius: 15px;
    border: 1.5px solid white;
    width: 90px;
    height: 35px;
}

.linkcontacto{
    text-decoration: none;
    color: white;
}
.imglogo{
    width: 50px;
}
.logos{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
}

.fotoperfil{
    display: flex;
    justify-content: center;
    position: relative;
}
.foto{
    width: 330px;
    height: auto;
}

.cajita{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 800px;
    padding: 15px;
}

.cajaaño{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231c52;
    text-align:justify;
    font-weight: 800;
    margin-bottom: 10px;
}

.cajatexto{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:#231c52;
    text-align: left;
    font-weight: 600;
}

.presentacion2{
    border: 1px solid yellow;
    margin-top: 180px;
}

.dibujo{
    width: 180px;
    margin-left: 200px;
}
.presentacionhero{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 10px;
}
.linkcv{
    text-decoration: none;
    display: inline;
}

.logoflecha{
    width: 20px;
}
.cv{
    display: flex;
}
.descarga{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.habilidad{
    padding: 40px;
    background-color: #f3f0ee;
}
.habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;

}

.thabilidades{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color:#231c52;
    border: 1px solid green;
}

.textohabilidades{
    border: 1px solid green;
}
.phabilidades{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231c52;
}

.lenguajes{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas con el mismo ancho */
    grid-gap: 10px;
    padding: 0px 40px;
    justify-content: space-around;
    background-color: #f3f0ee;
    border: 1px solid red;

}
.nombres{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231c52;
}
.cuadrado{
    width: 10px;
    height: 10px;
    background-color: #231c52;
    margin-top: 3px;
}

.acercademi{
    border: 1px solid red;
    padding: 40px;
    background-color:#f3f0ee;
}
.comillas{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231c52;
}

.renglon1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
.estudio{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231c52;
    border: 1px solid red;
    white-space: nowrap;
}

.linea1{
    width: 400px;
    height: 3px;
    background-color: #231c52;
    margin-top: 15px;
    margin-left: 40px;
    border: 1px solid red;
}

.residencia{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #231c52;
    white-space: nowrap;
    border: 1px solid red;
    margin: 0px;
}
.linea2{
    width: 200px;
    height: 3px;
    background-color: #231c52;
    margin-top: 15px;
    margin-right: 0px;
    border: 1px solid red;
}