@media (max-width: 1280px){
    .imgtp1{
        left: 640px;
        top: 130px;
    }
    .cajita{
        top: 250px;
        left: 750px;
    }
}
@media (max-width: 1024px){
    body{
        padding: 40px 20px 40px 40px;
    }
    .titulo{
        font-size: 25px;
    }
    .frase{
        font-size: 18px;
    }
    .contacto{
        margin-top: 200px;
    }
    .cajita{
        left: 200px;
        top: 80px;
    }
    .foto{
        width:230px;
    }
    .dibujo{
        margin-left: 100px;
    }
    .presentacion2{
        margin-top: 170px;
    }
    .estudio{
        font-size: 25px;
    }
    .residencia{
        font-size: 25px;
    }
    .volverysiguiente{
        margin-left: 300px;
    }
    .imgtp1{
        top: 150px;
        left: 515px;
    }
    .imgtp2{
        top: 520px;
        left: 180px;
    }
    .descripciontrabajo2{
        margin-right: 40px;
    }
    .titulotrabajaconmigo{
        font-size: 25px;
        width: 600px;
    }
    .imgcontratame2{
        margin-left: 130px;
    }
}
