@media (max-width: 1280px){
    .foto{
        width: 230px;
    }
    .cajita{
        top: 300px;
    }
    .imgtp1{
        left: 640px;
        top: 130px;
    }
    .cajita{
        top: 250px;
        left: 750px;
    }
}
@media (max-width: 1024px){

    .titulo{
        font-size: 25px;
    }
    .frase{
        font-size: 18px;
    }
    .contacto{
        margin-top: 200px;
    }
    .cajita{
        left: 200px;
        top: 80px;
    }
    .foto{
        width:230px;
    }
    .dibujo{
        margin-left: 100px;
    }
    .presentacion2{
        margin-top: 170px;
    }
    .estudio{
        font-size: 25px;
    }
    .residencia{
        font-size: 25px;
    }
    .volverysiguiente{
        margin-left: 300px;
    }
    .imgtp1{
        top: 150px;
        left: 515px;
    }
    .imgtp2{
        top: 520px;
        left: 180px;
    }
    .descripciontrabajo2{
        margin-right: 40px;
    }
    .titulotrabajaconmigo{
        font-size: 25px;
    }
}
@media (max-width: 768px){
    .parte2{
        display: none;
    }
    .descargacv{
        display: none;
    }
    .contenedor2{
        display: none;
    }
    .cajita{
        display: none;
    }
    .fotoperfil{
        margin: 5px 40px 5px 5px;
    }
    .volverysiguiente{
        margin-left: 30px;
    }
    .imgtp2{
        left: 165px;
        top: 490px;
    }
    .cajitacolorverde{
        height: 300px;
        margin-top: 10px;
    }
    .cajitacolornude{
        height: 250px;
    }
    .section{
        flex-direction: column;
        align-items: flex-start;
    }
    .links{
        flex-direction: column;
    }
    .vermas{
        align-items: self-end;
    }
}
